body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
    margin: 0 0 0 0;
}
.content {
   margin-top: 2em;
   margin-left: auto;
   margin-right: auto;
   max-width: 40em;
}
img.cover {
    box-shadow: 5px 5px 10px;
}
h1 {
    text-align: center;
}
h2 {
    border-bottom: thin solid lightgray;
    margin-top: 1.5em;
}
li {
    margin-top: 0.5em;
}
.footer {
    text-align: right;
    border-top: thin solid gray;
    padding-top: 3px;
}


a {
    color: purple;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: purple;
}
