body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
    margin: 0 0 0 0;
}
.content {
   margin-top: 2em;
   margin-left: auto;
   margin-right: auto;
   max-width: 40em;
}
img.cover {
    box-shadow: 5px 5px 10px;
}
h1 {
    text-align: center;
}
h2 {
    border-bottom: thin solid lightgray;
    margin-top: 1.5em;
}
li {
    margin-top: 0.5em;
}
li b {
  color: #202020;
}
.footer {
    text-align: right;    
    border-top: thin solid gray;
    padding-top: 3px;
}
.footer > a {
  padding-left: 1em;
}
a {
    color: #9b6bcc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #4C0099;
}

/* Purchase button */

.btn-primary.btn-outline {
    color: #9b6bcc;
    border-color: #9b6bcc;
}

.btn-outline {
  background-color: transparent;
  transition: all .5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn.focus, .btn:focus, .btn:hover {
    text-decoration: none;
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:active {
  color: #fff;
  background-color: #53237f;
  background: #53237f;
}

.btn-primary.btn-outline:focus {
  color: #9b6bcc;
  outline: 5px auto -webkit-focus-ring-color;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}

/* End Purchase button */