div#leanpub-toc {
  width: 300px;
  float: left;
}

div#page-content {

    margin: 20px auto 20px auto;
    max-width: 600px;
    line-height: 1.3;
  
}

#top-bar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;
    border-bottom: thin solid gray;
    overflow: auto;
}
#top-bar-content {
    font-size: 10pt;
    margin: 0px auto 0px auto;
    padding: 7px 0px 0px 0px;
    max-width: 600px;
    text-align: center;
}

figcaption {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 10pt;
  font-weight: bold;
}

figure.code {
  margin-left: 0em;
  font-size: 0.86em;
}

figure.code > figcaption {
  text-align: left;
}

code {
  font-size: 0.86em;
}

.threat-tags {
  margin-top: 1.4em;
  margin-bottom: 0.2em;
}

// Book ToC
// ----------------------

.toc {
  list-style: none;
}
.toc li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.toc.has-parts li {
  margin-left: 10px;
}

.toc.has-parts li.part {
  margin-left: 0px;
}
.toc li.part {
  font-size: 1.2em;
}
.toc li.chapter {
  padding-left: 0px;
}
.toc li.section {
  padding-left: 10px;
  font-size: 0.8em;
}
.toc li.sub-section {
  padding-left: 20px;
  font-size: 0.7em;
}
.toc li.sub-sub-section {
  padding-left: 30px;
  font-size: 0.6em;
}
.toc li.sub-sub-sub-section {
  padding-left: 40px;
  font-size: 0.5em;
}

.toc .section-number {
  font-weight: bold;
}



#toc-cover {
    display: block;
    margin: 90px auto -60px auto;
}
ul.toc {
    line-height: 1.4;
}
ul.toc > li > ul > li {
    margin-top: 1em;
}
ul.toc a:link, ul.toc a:active, ul.toc a:visited {
    text-decoration: none;
    color: black;
}
ul.toc a:hover {
    text-decoration: underline;
}
ul.toc > li {
    border-top: thin solid gray;
    padding-top: 12px;
    padding-bottom: 12px;
}
ul.toc {
    border-bottom: thin solid gray;
}
.verso {
    margin-top: 20px;
}
.next-chapter {
    margin-top: 3em;
    border-top: thin solid gray;
    text-align: right;
    padding-top: 3px;
}

/* headings */

h1 { /* parts */
    margin-top: 90px;
}

h2 { /* chapters */
    margin-top: 90px;
}

h1#toc { text-align: left;}


h1, h2, h3, h4, h5, h6, h7 {
   font-family: sans-serif;
}

/* Parts */
body.kramdown h1, body.markua h1.part {
   font-size: 4em;
   line-height: .8em;
   font-variant: small-caps;
   margin-top: 20%;
   text-align: center;
   padding: 0;
   font-weight: normal;
}

/* Chapters */
h1#toc, body.kramdown h2, body.markua h1.chapter {
   font-size: 1.5em;
   margin-top: 90px;
   margin-bottom: 1em;
}

/* Sections */
body.kramdown h3, body.markua h2.section {
   /*font-size: 1.17em;*/
   font-size: 1.3104em;
   margin-top: 1em;
   margin-bottom: 0.25em;
}

body.kramdown h4, body.markua h3.subsection { margin-top: 1em;
   /*font-size: 1.12em;*/
   font-size: 1.2em;
   margin-bottom: 0.25em;
}

body.kramdown h5, body.markua h4.subsubsection { margin-top: 1em;
   /*font-size: 0.83em;*/
   font-size: 0.996em;
   margin-bottom: 0.25em;
}

body.kramdown h6, body.markua h5.subsubsubsection {
   /*font-size: 0.75em;*/
   font-size: 0.9em;
   margin: 0;
}
/* general text */

p {
  text-indent: 0em;
  margin-top: 0.5em;
}

a {
    color: #9933FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #4C0099;
}

.hanging-indent p {
  padding-left: 2em;
  text-indent: -2em;
}

blockquote { margin-left: 2em; }

span.lineno, code.lineno {
  color: gray;
  font-size: 80%;
}

.centered p {
  text-align: center;
}

/* asides, warnings, etc */

aside {
  padding-top: 1.2em;
  padding-left: 2em;
  padding-right: 1em;
  padding-bottom: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  background-color: #FAFAFA;
}

div > i.aside-icon, aside > i.aside-icon {
  float: left;
  margin-right: 20px;
}

body.kramdown aside > i ~ h3 {
  margin-top: 0.4em;
}





div.sidebarish h1, div.sidebarish h2, div.sidebarish h3, div.sidebarish h4 {
  margin-bottom: 0.5em;
  vertical-align: center;
}

div.sidebarish   {
  margin: 50px 0px 50px 10px;
  padding-left: 60px;
}

div.sidebarish img.sidebar-image {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: center;
}

div.page-break {
  page-break-after: always;
}

/* Endnotes page */

div.footnotes h1, div.footnotes h2 {
  text-align: left;
}

div.footnotes h1 {
  font-size: 1.5em;
}

div.footnotes h2 {
  font-size: 1.17em;
}

/* force some space before and after code blocks */
pre {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   font-family: monospace;
}

body {
  direction: ltr;
}

/* image equations */

img.inline-equation {
   height: 1.25em;
}

img.block-equation {
  margin-top: 0.5em;
  margin-right: auto;
  margin-bottom: 0.5em;
  margin-left: auto;
  text-align: center;
  display: block;
}

img {
  max-width: 100%
}

/* styles for inserted (uil) and deleted (udl) lines */
.udl {
  text-decoration: line-through;
}

.uil {
  font-weight: 900;
}

/* NOTE: I replaced this line:
 * .err { border: 1px solid #FF0000 } /* Error */
 * with this:
 * .err { color: #FF0000 } /* Error */
 * to get rid of the ugly red boxes
 */

/* ============================================================================== */
/* everything below this line is generated by rake book_generator:pygments_styles */
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { color: #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */
